* {
	font-family: 'Do Hyeon', sans-serif;
}

html, body {
    margin: 0;
    font-size: 15px;
}

.container-box {
	width: 100%;
}

.content-box {
	width: 60%;
	margin: 0 auto;
}

#top-container {
	background-color: maroon;
	color: #fff;
}

#top-content {

}

#top-content>div:first-child {	
	line-height: 55px;
	font-size: 3rem;
}

#top-content>div:last-child {
	text-align: right;
}

#top-content>a {
	color: #fff;
}

#top-content>a:hover {
	text-decoration: none;
}

#top2-container {
	background-color: #888;
	color: #fff;
}

#top2-content {
	line-height: 55px;
	font-size: 1.5rem;
	text-align: center;
}

#top2-content>.row {
	height: inherit;
}

#top2-content>div:hover {
	background: darkgray;
}

.col-sm>a {
	color: #fff;
}

.col-sm>a:hover {
	text-decoration: none;
	color: #fff;
}

#body-container {
	padding-bottom: 20px;
	background-color: gainsboro;
	height: inherit;
}

#body-content {
	
}

#footer-container {
	background-color: gainsboro;
	height: auto;
}

#footer-content {
	border-top: 1px solid gray;
	padding: 20px;	
}

#infoBtn {
	margin-top: 12.5px;
	height: 30px;
}