h3 {
	text-align: center;
	padding-top: 50px;
	color: #222;
}

a {
	color: #222;	
}

#card-container {
	border-top: 1px solid gainsboro;
	border-bottom: 1px solid gainsboro;
	width: 650px;
	margin: 0 auto;
}

nav>#nav-tab>a {
	text-align: center;
}

nav>#nav-tab>a:hover {
	color: brown;
	border: 1px solid #555;
}

.match-info {
	width: 50%;
}

#nav-home, #nav-profile{
	width: 100%;
	padding: 15px;
	background-color: #fff;
}

#card-image {
	
}

#card-tier {
	width: 20%;
}

#card-tier img {
	width: 100%;
}

#card-text {
	background: #fff;
	text-align: center;
}

#card-lane {
	text-align: center;
}

.lane-img {
	margin: 17px 0;
}

.detail-champ {
	margin: 10px 0;
}

.detail-champ img {
	width: 66px;
}