<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.godz.dao.BoardDAO">
		<!-- 1. 전체 개수 구하기 -->
	<select id="selectCnt" resultType="int" parameterType="HashMap">
		select count(*) from memo_board
		<if test="tier != null">
			where tier = #{tier}
		</if>
		<if test="division != null and division != '전체'">
			AND division = #{division}
		</if>
		<if test="queueType != null">
			AND queueType = #{queueType}
		</if>
		<if test="lane != null and lane != '전체'">
			AND lane = #{lane}
		</if>
		<if test="expectedTime != null and expectedTime != '전체'">
			AND expectedTime = #{expectedTime}
		</if>
		<if test="isVoice != null and isVoice != '전체'">
			AND isVoice = #{isVoice}
		</if>
	</select>

	<!-- Memo에 에티어 저장 -->
	<insert id="insertMemo" parameterType="BoardVO">
		insert into memo_board values
		(memo_board_idx_seq.nextval, #{nickName}, #{summonerName}, #{title}, #{content}, sysdate, #{tier}, #{division}, #{lane}, #{queueType}, #{expectedTime}, #{isVoice})
	</insert>
	
	<select id="selectList" resultType="BoardVO" parameterType="HashMap">
		select 
			Q.*	
		from
			(select 
				rownum rnum, R.* 
			from
				(select * from memo_board
				<if test="tier != null">
					where tier = #{tier}
				</if>
				<if test="division != null and division != '전체'">
					AND division = #{division}
				</if>
				<if test="queueType != null">
					AND queueType = #{queueType}
				</if>
				<if test="lane != null and lane != '전체'">
					AND lane = #{lane}
				</if>
				<if test="expectedTime != null and expectedTime != '전체'">
					AND expectedTime = #{expectedTime}
				</if>
				<if test="isVoice != null and isVoice != '전체'">
					AND isVoice = #{isVoice}
				</if>
				order by idx desc) R
			where
				rownum <![CDATA[<=]]> #{endNo}) Q
		where
			rnum <![CDATA[>=]]> #{startNo}
	</select>
	
	<delete id="delete">
		DELETE FROM (SELECT sysdate-REGDATE FROM MEMO_BOARD WHERE EXTRACT(day FROM (sysdate-REGDATE)) >= 1);
	</delete>
</mapper>