<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.godz.member.dao.MemberDAO">
	<insert id="insert" parameterType="MemberVO">
		insert into lol_member values
		(lolmember_idx_seq.nextval, #{userId}, #{password}, #{userName}, #{nickName}, #{summonerName}, #{birth}, #{phone}, sysdate, 0, #{emailToken})
	</insert>
	
	<insert id="insertRole" parameterType="java.lang.String">
		insert into lol_member_role values
		(lolmember_role_idx_seq.nextval, #{userId}, 'ROLE_USER')
	</insert>
	
	<select id="selectByUserId" parameterType="java.lang.String" resultType="MemberVO">
		select * from lol_member where userId = #{userId}
	</select>
	
	<select id="selectByNickName" parameterType="java.lang.String" resultType="MemberVO">
		select * from lol_member where nickName = #{nickName}
	</select>
	
	<select id="selectBySummonerName" parameterType="java.lang.String" resultType="MemberVO">
		select * from lol_member where summonerName = #{summonerName}
	</select>
	
	<update id="updateUseType" parameterType="java.lang.String">
		update lol_member set useType=1 where userId = #{userId}
	</update>
</mapper>